


/*===========================
    2.HEADER css 
===========================*/


.header-area{
    position: relative;
    background-color: $black;
    height: 100vh;
    
    @media #{$md}{
        height: auto;
    }
    @media #{$xs}{
        height: auto;
    }
    
    &::before{
        position: absolute;
        content: '';
        background-image: url(../images/bg.jpg);
        background-size: cover;
        background-position: center center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
        @media #{$md}{
            height: 360px;
        }
        @media #{$xs}{
            height: 260px;
        }
        @media #{$sm}{
            height: 360px;
        }
    }
}


.header-wrapper{
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 2.5rem 2.5rem 2.5rem 0;
    
    @media #{$md}{
        padding: 0;
        min-height: 100%;
        padding-bottom: 25px;
    }
    @media #{$xs}{
        padding: 0;
        min-height: 100%;
        padding-bottom: 100px;
    }
    
    & .header-main{
        position: relative;
        max-width: 100%;
        z-index: 1;
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        text-align: left;
        background-color: transparent;
        
        @media #{$md}{
            padding-top: 360px;
        }
        @media #{$xs}{
            padding-top: 260px;
        }
        @media #{$sm}{
            padding-top: 360px;
        }
        
        & .header-content{
            position: relative;
            z-index: 1;
            padding: 5rem 5rem;
            max-width: 100%;
            width: 48rem;
            
            @media #{$desktop}{
                padding: 10rem 10rem;
                width: 60rem;
            }
            @media #{$md}{
                padding: 4rem 4rem;
            }
            @media #{$xs}{
                padding: 2rem 2rem;
                width: 40rem;
            }
            @media #{$sm}{
                padding: 3rem 3rem;
                width: 40rem;
            }
            
            & .name{
                font-size: 56px;
                color: $white;
                position: relative;
                padding-bottom: 20px;
                
                @media #{$lg}{
                    font-size: 46px;
                    padding-bottom: 15px;
                }
                @media #{$xs}{
                    font-size: 30px;
                    padding-bottom: 15px;
                }
                @media #{$sm}{
                    font-size: 34px;
                    padding-bottom: 20px;
                }
                
                &::before{
                    position: absolute;
                    content: '';
                    width: 120px;
                    height: 5px;
                    background-color: $theme-color;
                    left: 0;
                    bottom: 0;
                    
                    @media #{$xs}{
                        width: 80px;
                        height: 3px;
                    }
                }
            }
            & .sub-title{
                font-size: 24px;
                line-height: 35px;
                color: $white;
                margin-top: 20px;
                
                @media #{$lg}{
                    font-size: 22px;
                    margin-top: 15px;
                }
                
                @media #{$xs}{
                    font-size: 18px;
                    margin-top: 15px;
                }
                @media #{$sm}{
                    font-size: 20px;
                    margin-top: 20px;
                }
            }
            & .text{
                font-size: 18px;
                line-height: 30px;
                color: $white;
                margin-top: 30px;
                
                @media #{$lg}{
                    font-size: 16px;
                    line-height: 27px;
                }
                @media #{$xs}{
                    font-size: 14px;
                    line-height: 25px;
                    margin-top: 20px;
                }
                @media #{$sm}{
                    font-size: 16px;
                    line-height: 28px;
                    margin-top: 25px;
                }
            }
            & .header-btn{
                margin-top: 30px;
                display: inline-block;
                font-weight: 600;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                padding: 0 20px;
                font-size: 16px;
                height: 50px;
                line-height: 50px;
                color: $white;
                cursor: pointer;
                z-index: 5;
                @include transition(0.4s);
                background-color: transparent;
                position: relative;
                @include transition(0.8s);
                z-index: 5;
                margin-left: 100px;

                @media #{$xs}{
                    margin-top: 20px;
                    font-size: 15px;
                }
                @media #{$sm}{
                    margin-top: 25px;
                }

                &::before,
                &::after{
                    position: absolute;
                    content: '';
                    width: 100px;
                    height: 3px;
                    background-color: $white;
                    left: -100px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    z-index: -1;
                    @include transition(0.3s);
                }
                    
                &::after{
                    width: 0;
                    background-color: $theme-color;
                }

                &:hover{
                    color: $theme-color;
                    
                    &::after{
                        width: 100px;
                    }
                }
            }
        }
    }
    
    & .social{
        position: fixed;
        top: 50%;
        @include transform(translateY(-50%) rotate(-90deg));
        right: -160px;
        
        @media #{$md}{
            position: absolute;
            top: auto;
            bottom: 25px;
            right: 0;
            left: 0;
            @include transform(translateY(0) rotate(0));
            width: 100%;
            padding-left: 4rem;
            margin-left: -10px;
        }
        @media #{$xs}{
            position: absolute;
            top: auto;
            bottom: 0;
            right: 0;
            left: 0;
            @include transform(translateY(0) rotate(0));
            width: 100%;
            padding-left: 2rem;
            margin-left: -10px;
        }
        
        @media #{$xs}{
            padding-left: 2rem;
            bottom: 40px;
        }
        @media #{$sm}{
            padding-left: 3rem;
        }
        
        & .follow{
            font-size: 20px;
            color: $white;
            font-weight: 500;
            text-transform: uppercase;
            margin-left: 120px;
            position: relative;
            
            @media #{$lg}{
                font-size: 18px;
            }
            
            @media #{$xs}{
                margin-left: 70px;
                font-size: 16px;
                margin-top: 10px;
            }
            
            @media #{$sm}{
                margin-top: 0;
            }
            
            &::before{
                position: absolute;
                content: '';
                width: 100px;
                height: 2px;
                background-color: #fff;
                left: -110px;
                top: 14px;
                
                @media #{$lg}{
                    top: 13px;
                }
                @media #{$xs}{
                    width: 50px;
                    left: -60px;
                    top: 12px;
                }
            }
        }
        & ul{
            & li{
                display: inline-block;
                margin-left: 10px;
                
                & a{
                    font-size: 22px;
                    color: $white;
                    @include transform(rotate(90deg));
                    
                    @media #{$md}{
                        @include transform(rotate(0));
                    }
                    @media #{$xs}{
                        @include transform(rotate(0));
                        font-size: 18px;
                    }
                }
            }
        }
    }
}









